<ScrollView>
  <StackLayout>
        <PhotoGalleryComponent
            #pgPhotoGallery
            horizontalAlignment="center"  
            >
        </PhotoGalleryComponent>
        <Label 
            verticalAlignement="middle"
            [text]="fonticon"
            (tap)="transformDisplayedPictureToGrayScale()"
        class="fa process-picture-icon"></Label>
        <Image
          #transformedPicture 
          stretch="aspectFit"
          class="transformed-picture"></Image>
  </StackLayout>
</ScrollView>
